@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Lobster", sans-serif;
    background-image: linear-gradient(180deg,#180f41, #090422, black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

header{
    background-color: #e4ebf0;
    color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav{
    height: 100px;
    width: 100%;
}

.logo{
    flex: 20%;
    text-align: center;
    font-size: 100px;
    color: #080808;
    text-decoration: none;
}

.logo h1{
    font-family: "Lobster", sans-serif;
    color: #180f41;
    font-size: 34px;
}

main{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    text-align: center;
}

.box{
    background-color: #e4ebf0;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    color: #080808;
    text-align: left;
}

.h2__div{
    margin-bottom: 15px;
    font-size: 20px;
    color: #3498db;
    justify-content: center;
    align-items: center;
}

.box p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.box a:hover {
    text-decoration: none;
}

footer{
    margin-top: 100px;
    height: 300px;
    background-image: linear-gradient(180deg,#180f41, #090422, black);
    text-align: center;
    border-top: 5px solid orangered;
}

.logo-rodape{
    padding: 90px;
}

.agencia{
    font-family: "Lobster", sans-serif;
    color: white;
    font-size: 34px;
}

.botao{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600px;
    text-decoration-line: none;
}

button a {
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}