main h2{
    background-color:blue;
}

body {
    background-image: url('../design/fundo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
}
